body {
  background-color: #05081c;
  color: whitesmoke;
  margin: 20px;
}

span {
  color: #2baa39;
}

button {
  background-color: #2baa39;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 40px 0;
}

#generatedpwd {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#randompwd1 {
  text-align: center;
  background-color: #121524;
  color: #2baa39;
  border-radius: 4px;
  padding: 8px 16px;
  width: 200px;
}

#randompwd2 {
  text-align: center;
  background-color: #121524;
  color: #2baa39;
  border-radius: 4px;
  padding: 8px 16px;
  width: 200px;
}
